// /**
//  * TruAuto Custom — CSS overrides
//  * Loaded LAST via @magento_import 'source/_extend.less'
//  */

.page-header .header.content,
.page-header > .header.content {
    background-color: #ffffff !important;
}

header.page-header {
    background-color: #ffffff !important;
}

.block-search .block-content {
    margin-top: -15px !important;
}
.minicart-wrapper{
    color:black;
    margin-top:-15px !important;
}

.opc-wrapper {
    width: auto !important;
}